head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.wordleTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  margin: 20px;
}
